*{
    margin: 0;
    padding: 0;
    background-color: rgb(21, 51, 51);
    
}

header{
    
    padding: 25px;
    text-shadow: 1px 1px;
    font-size: 25px;
    font-family: "Sofia", sans-serif;
    top: 0;
    
}



header h1{
    display: flex;
    justify-content: center;
}

section{
    margin: auto;
    text-align: center;
}

section div img {
    width: 250px;
    height: 200px;
    border-style: solid;
    border-radius: 10px;
    
}

section div{
    display: inline-block;
    padding: 15px;
}

section div a{
    color: black;
    text-decoration: none;
}

section a:hover{
    opacity: 0.6;
    
}

.course{
    text-align: center;
    width: 250px;
    height: 25px;
    border-style: solid;
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 10px;
    background-color: white;
}

.course h3 {
    color: white;
{

.percentege{
    border-style: dotted;
    border-radius: 50% 10px 10px;
    background-color:white;
    position :relative;
    text-align: center;
    padding: 10px;
    width: 25px;
    height: 25px;
    top: -55px;
    left: 205px;
    
}
